<section class="slide chapter-wrapper">
    <div class="chapter-title">Разработка ПО</div>
</section>

<section class="slide">
    <h2>Разработка ПО</h2>
    <p class="next">Конструирование — главный этап разработки ПО, без которого не обходится ни один проект.</p>
    <p class="next">Основные этапы конструирования:</p>
    <ul>
    <li class="next">детальное проектирование</li>
    <li class="next">кодирование</li>
    <li class="next">отладка</li>
    <li class="next">интеграция и тестирование приложения разработчиками (блочное тестирование и интеграционное тестирование).</li>
    </ul>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Метафоры</div>
</section>

<section class="slide">
    <h2>Метафоры</h2>
    <p class="next">Метафоры помогают понять процесс разработки ПО, сопоставляя его с другими, более знакомыми процессами.</p>
    <p class="next">Виды:</p>
    <ul>
        <li class="next">Литературная метафора: написание кода</li>
        <li class="next">Сельскохозяйственная метафора: приращение системы</li>
        <li class="next">Метафора жемчужины: медленное приращение системы (аккреция ПО)</li>
        <li class="next">Строительная метафора: построение ПО</li>
    </ul>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Подготовка</div>
</section>

<section class="slide">
    <h2>Подходы к разработке ПО</h2>
    <div class="columns two">
       <div>
           <p class="next">Последовательный</p>
           <ul>
               <li class="next">Требования довольно стабильны</li>
               <li class="next">Проект приложения прост и относительно понятен</li>
               <li class="next">Разработчики знакомы с прикладной областью</li>
               <li class="next">Проект не связан с особым риском</li>
               <li class="next">Важна долговременная предсказуемость проекта</li>
               <li class="next">Затраты на изменения требований окажутся скорее всего высокими</li>
           </ul>
       </div>
        <div>
            <p class="next">Итеративный</p>
            <ul>
                <li class="next">Требования относительные непонятны или нестабильны</li>
                <li class="next">Проект приложения сложен и не ясен</li>
                <li class="next">Разработчики не знакомы с прикладной областью</li>
                <li class="next">Проект сопряжен с высоким риском</li>
                <li class="next">Долговременная предсказуемость проекта не играет особой роли</li>
                <li class="next">Затраты на изменения требований, скорее всего, будут низкими</li>
            </ul>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Предварительные условия</h2>
    <div class="columns two">
        <div>
            <p class="next">Необходимо перед конструированием сформулировать проблему которую система будет решать</p>
            <p class="next">Иначе можно решать не ту проблемы или не тем способом</p>
        </div>
        <div>
            <p class="next">Необходимо перед конструированием иметь официальные требования</p>
            <p class="next">При их отсутствии требования будут определяться разработчиком, а не пользователем системы</p>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Основные решения, которые приходится принимать при конструировании</h2>
    <div class="columns three">
        <div class="next">Программирование на языке / фреймворке</div>
        <div class="next">Программирование с использованием языка / фреймворка</div>
        <div class="next">Конвенции</div>
    </div>
</section>
