<section class="slide chapter-wrapper">
    <div class="chapter-title">Разработка ПО</div>
</section>

<section class="slide">
    <h2>Разработка ПО</h2>
    <div><span class="def">Конструирование</span> — главный этап разработки ПО, без которого не обходится ни один
        проект.
    </div>
    <h3>Основные этапы конструирования:</h3>
    <div class="row start">
        <div class="half border">Определение проблемы</div>
        <div class="half border">Выработка требований</div>
        <div class="half border">Создание плана конструирования</div>
        <div class="half border filled">Детальное проектирование</div>
        <div class="half border filled">Кодирование и отладка</div>
        <div class="half border filled">Интеграция</div>
        <div class="half border filled">Тестирование (интеграционное, блочное) системы</div>
        <div class="half border">Корректирующее сопровождение</div>
        <div class="half border">Разработка архитектуры ПО / Высокоуровневое проектирование</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Метафоры</div>
</section>

<section class="slide">
    <h2>Метафоры</h2>
    <p><span class="def">Метафоры</span> помогают понять процесс разработки ПО, сопоставляя его с другими, более
        знакомыми процессами.</p>
    <h3>Виды:</h3>
    <div class="row">
        <div class="column half">
            <div class="full border">Литературная метафора</div>
            <div class="full border">Сельскохозяйственная метафора</div>
            <div class="full border">Метафора жемчужины</div>
            <div class="full border">Строительная метафора</div>
        </div>
        <div class="column half" style="align-items: flex-end">
            <img src="./pictures/metafora.jpeg" alt="">
        </div>
    </div>

</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Подготовка</div>
</section>

<section class="slide">
    <h2>Подходы к разработке ПО</h2>
    <table>
        <tr style="background: #f3f3f3">
            <th scope="col"></th>
            <th scope="col">Последовательный</th>
            <th scope="col">Итеративный</th>
        </tr>
        <tr>
            <td style="font-weight:bold;">Требования</td>
            <td>Понятные и стабильны</td>
            <td>Непонятны или нестабильны</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Сложность проекта</td>
            <td>Прост и понятен</td>
            <td>Сложен и не ясен</td>
        </tr>

        <tr>
            <td style="font-weight:bold;">Предметной области</td>
            <td>Разработчики знакомы с ней</td>
            <td>Разработчики не знакомы с ней</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Потенциальные риски</td>
            <td>Минимальные риски</td>
            <td>Высокие риски</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Долговременная предсказуемость</td>
            <td>Важна</td>
            <td>Не играет особой роли</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Затраты на изменения требований</td>
            <td>Высокими</td>
            <td>Низкие</td>
        </tr>
    </table>
</section>

<section class="slide">
    <h2>Предварительные условия</h2>
    <div class="row">
        <div class="column half">
            <div class="full">Необходимо перед конструированием сформулировать проблему которую система будет
                решать
            </div>
            <div class="full">Иначе можно решать не ту проблемы или не тем способом</div>
        </div>
        <div class="column half">
            <div class="full">Необходимо перед конструированием иметь официальные требования</div>
            <div class="full">При их отсутствии требования будут определяться разработчиком, а не пользователем
                системы
            </div>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Основные решения, которые приходится принимать при конструировании</h2>
    <div class="row">
        <div class="column half">
            <div class="full filled border">Программирование на языке / фреймворке</div>
            <div class="full filled border">Программирование с использованием языка / фреймворка</div>
            <div class="full filled border">Конвенции</div>
        </div>
        <div class="col half">
            <img src="./pictures/decision.jpg" alt="" style="width: 100%;height: 100%;">
        </div>
    </div>
</section>
