<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Разработка ПО</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Разработка ПО: Составляющие</h2>
</section>
<section class="slide">
    <h2>Разработка ПО: Важность</h2>
</section>
<!------------------------------------------------>
<section class="slide ">
    <h2 class="shout">Метафоры</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Метафоры: Цели и важность</h2>
</section>
<section class="slide">
    <h2>Метафоры: Популярные метафоры</h2>
    <ul>
        <li>Литературная метафора</li>
        <li>Сельскохозяйственная метафора</li>
        <li>Метафора жемчужины</li>
        <li>Строительная метафора</li>
    </ul>
</section>
<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Подготовка</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Подготовка: Цели</h2>
</section>
<section class="slide">
    <h2>Подготовка: Предварительные условия</h2>
</section>
<section class="slide">
    <h2>Подготовка: Подходы</h2>
</section>
<section class="slide">
    <h2>Подготовка: Программирование с и на языке</h2>
</section>
<section class="slide">
    <h2>Подготовка: Конвенции и соглашения</h2>
</section>
<!------------------------------------------------>
