<section class="slide chapter-wrapper">
    <div class="chapter-title">Качество ПО</div>
</section>

<section class="slide">
    <h2>Характеристики качества ПО</h2>
    <div class="columns two">
        <div>
            <div>Внешние характеристики (на которые ориентируется пользователь)</div>
            <div>
                <div>Корректность</div>
                <div>Практичность</div>
                <div>Эффективность</div>
                <div>Надежность</div>
                <div>Целостность</div>
                <div>Адаптируемость</div>
                <div>Правильность</div>
                <div>Живучесть</div>
            </div>
        </div>
        <div>
            <div>Внутренние характеристики (на которые ориентируется разработчик)</div>
            <div>
                <div>Удобство сопровождения</div>
                <div>Гибкость</div>
                <div>Портируемость</div>
                <div>Возможность повторного использования</div>
                <div>Удобочитаемость</div>
                <div>Тестируемость</div>
                <div>Понятность</div>
            </div>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Методики повышения качества ПО</h2>
    <div class="columns two">
        <div>
            <div>Целевые характеристики</div>
            <div>Явный контроль качества</div>
            <div>Стратегия тестирования</div>
            <div>Принципы разработки ПО</div>
            <div>Неформальные технические обзоры</div>
        </div>
        <div>
            <div>Формальные технические обзоры</div>
            <div>Внешний аудит</div>
            <div>Процедуры контроля изменений требований</div>
            <div>Оценка результатов</div>
            <div>Прототипирование</div>
        </div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Тестирование, выполняемое разработчиками</div>
</section>

<section class="slide">
    <h2>Тестирование</h2>
    <div>
        <div>Цель тестирования противоположна целям других этапов разработки.</div>
        <div>Тестирование никогда не доказывает отсутствие ошибок</div>
        <div>Тестирование не повышает качество ПО</div>
        <div>Тестирование требует что бы вы рассчитывали найти ошибки в своем коде.</div>
    </div>
</section>

<section class="slide">
    <h2>Приемы тестирования</h2>
    <div>
        <div>Неполное тестирование</div>
        <div>Структурированное базисное тестирование</div>
        <div>Угадывание ошибок</div>
        <div>Анализ граничных значений</div>
        <div>Классы плохих данных</div>
        <div>Классы хороших данных</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Отладка</div>
</section>

<section class="slide">
    <h2>Поиск дефектов</h2>
    <div>
        <div>Стабилизация ошибки</div>
        <div> Определение источника ошибки
            <div>
                <div>Сбор данных, приводящих к дефекту</div>
                <div>Анализ собранных данных и формулирование гипотезы, объясняющей баг</div>
                <div>Определение способа подтверждения или опровержения гипотезы, основанного на
                    тестировании или изучении программы
                </div>
            </div>
        </div>
        <div>Фикс бага</div>
        <div>Тестирование фикса</div>
        <div>Поиск похожих багов</div>
    </div>
</section>

<section class="slide">
    <h2>Советы по поиску причин багов</h2>
    <div class="columns two">
        <div>
            <div>Формулируя гипотезу используйте все имеющиеся данные</div>
            <div>Воспроизведите ошибку несколькими способами</div>
            <div>Используйте результаты отрицательных тестов для отсеивания гипотез</div>
            <div>Используйте мозговой штурм</div>
            <div>Сократите подозрительную область, где может быть баг</div>
        </div>
        <div>
            <div>Поищите баг в функционале в котором уже встречались баги</div>
            <div>Проверьте код который был изменен недавно</div>
            <div>Расширьте подозрительный фрагмент кода</div>
            <div>Обсудите баг с кем то</div>
            <div>Установите лимит времени для быстрой и грязной отладки.</div>
        </div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Рефакторинг</div>
</section>

<section class="slide">
    <h2>Разумные причины выполнения рефакторинга</h2>
    <div class="columns three">
        <div>
            <div>Код повторяется</div>
            <div>Метод слишком велик</div>
            <div>Цикл слишком велик или имеет глубокую вложенность</div>
            <div>Класс имеет плохую связность</div>
            <div>Интерфейс класса не формирует согласованную абстракцию</div>
            <div>Метод принимает слишком много параметров</div>
            <div>Отдельные части класса меняет независимо от других частей</div>
            <div>При изменении программы приходится параллельно менять несколько классов</div>
        </div>
        <div>
            <div>Приходится менять параллельно несколько иерархий наследования</div>
            <div>Приходится менять параллельно несколько блоков case</div>
            <div>Родственные элементы данных, используемые вместе, не организован в классы</div>
            <div>Метод использует больше параметра чужого класса, чем своего</div>
            <div>Элементарный тип данных перегружен</div>
            <div>Класс имеет слишком ограниченную функциональность</div>
            <div>По цепи методов передаются бродячие данные</div>
            <div>Прокси-объект ничего не делает</div>
        </div>
        <div>
            <div>Один класс слишком много знает о другом</div>
            <div>Метод имеет не удачное имя</div>
            <div>Лишние публичные методы и свойства</div>
            <div>Подкласс использует мало методов или свойств от наследования</div>
            <div>Сложный код объясняется с помощью комментариев</div>
            <div>Код содержит глобальные переменные</div>
            <div>Перед вызовом метода выполняется подготовительный код</div>
            <div>Программа содержит код который когда-нибудь может понадобиться</div>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Плохие причины рефакторинга</h2>
    <div>
        <div>Не рассматривайте рефакторинг как оправдание написание плохого кода с намерением исправить его
            позднее
        </div>
        <div>Не рассматривайте рефакторинг как способ избежать переписывание кода</div>
    </div>
</section>

<section class="slide">
    <h2>Безопасный рефакторинг</h2>
    <div class="columns two">
        <div>
            <div>Сохраняйте первоначальный код</div>
            <div>Ограничивайте объем отдельных видов рефакторинга</div>
            <div>Выполняйте отдельные виды рефакторинга по одному за раз</div>
            <div>Составьте список действий которые хотите предпринять</div>
            <div>Составьте список видов рефакторинга которые следует выполнить позже</div>
        </div>
        <div>
            <div>Часто создавайте контрольные точки</div>
            <div>Выполняйте регрессивное-тестирование</div>
            <div>Создавайте дополнительные тесты</div>
            <div>Выполняйте обзоры измненеий</div>
            <div>Изменяйте подход в зависимости от рискованности рефакторинга</div>
        </div>
    </div>

</section>

<section class="slide">
    <h2>Стратегии рефакторинга</h2>
    <div>
        <div>Выполняйте рефакторинг при создании новых методов</div>
        <div>Выполняйте рефакторинг при создании новых классов</div>
        <div>Выполняйте рефакторинг при исправлении дефектов</div>
        <div>Выполняйте рефакторинг модулей подтверженных ошибках</div>
        <div>Выполняйте рефакторинг сложных модулей</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Стратегии оптимизации кода</div>
</section>

<section class="slide">
    <h2>Производительность и оптимизация кода</h2>
    <div>
        <div>Требования к программе</div>
        <div>Проект программы</div>
        <div>На этапе проектирование можно рассмотреть альтернативные варианты которые будут
            производительнее изначально
        </div>
        <div>Проекты классов и методов</div>
        <div>Взаимодействие программы с ОС</div>
        <div>Оборудование</div>
        <div>Оптимизация кода</div>
    </div>
</section>

<section class="slide">
    <blockquote>
        <p>Менее 4% кода обычно соответствует более чем 50% времени выполнения программы</p>
        <p>- Дональд Кнут</p>
    </blockquote>
</section>

<section class="slide">
    <h2>Мифы оптимизации</h2>
    <div>
        <div>Сокращение числа строк высокоуровневого кода повышает быстродействие</div>
        <div>Одни операции, вероятно, выполняются быстрее других</div>
        <div>Оптимизацию следует выполнять по мере написания кода</div>
        <div>Быстродействие программы не менее важно чем ее корректность</div>
    </div>
</section>

<section class="slide">
    <h2>Алгоритм оптимизации</h2>
    <div>
        <div>Напишите хороший и понятный код, поддающийся легкому изменению</div>
        <div>Если производительность не устраивает
            <div>
                <div>Закоммитьте рабочий код</div>
                <div>Оцените производительность системы и найдите горячие точки</div>
                <div>Определите чем обусловлена низкая производительность</div>
                <div>Оптимизируйте проблемное место</div>
                <div>Оцените каждую оптимизацию по одной за раз</div>
                <div>Если оптимизация не привела к улучшению, повторите все заново</div>
            </div>
        </div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Логика</div>
</section>

<section class="slide">
    <div class="code">
        <h2>Прекращение проверки сразу после получения ответа</h2>
        <img src="./pictures/control-3.svg" alt="">
    </div>
    <div class="code">
        <h2>Упорядочивание if и case по частоте</h2>
        <img src="./pictures/optimization-1.svg" alt="">
    </div>
</section>

<section class="slide">
</section>

<section class="slide">
    <h2>Замена сложных выражений на обращение к таблице подстановки</h2>
    <div class="code">
        <div>Плохо</div>
        <img src="./pictures/optimization-2.svg" alt="">
    </div>
    <div class="code">
        <div>Лучше</div>
        <img src="./pictures/optimization-3.svg" alt="">
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Циклы</div>
</section>

<section class="slide">
    <h2>Размыкание (unswitch) цикла</h2>
    <div class="code">
        <div>Плохо</div>
        <img src="./pictures/cycle-unswitch-1.svg" alt="">
    </div>
    <div class="code">
        <div>Лучше</div>
        <img src="./pictures/cycle-unswitch-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Объединение (jamming) цикла</h2>
    <div class="code">
        <div>Плохо</div>
        <img src="./pictures/cycle-jamming-1.svg" alt="">
    </div>
    <div class="code">
        <div>Лучше</div>
        <img src="./pictures/cycle-jamming-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Развертывание (unrolling) цикла</h2>
    <div class="code">
        <div>Плохо</div>
        <img src="./pictures/cycle-unrolling-1.svg" alt="">
    </div>
    <div class="code">
        <div>Лучше</div>
        <img src="./pictures/cycle-unrolling-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Минимизация объема работы, выполняемой в цикле</h2>
    <div class="code">
        <div>Плохо</div>
        <img src="./pictures/cycle-min-work-1.svg" alt="">
    </div>
    <div class="code">
        <div>Лучше</div>
        <img src="./pictures/cycle-min-work-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Вложение более ресурсоемкого цикла в менее ресурсоемкий</h2>
    <div class="code">
        <div>Плохо (600 итераций)</div>
        <img src="./pictures/cycle-inner-1.svg" alt="">
    </div>
    <div class="code">
        <div>Лучше (505 итераций)</div>
        <img src="./pictures/cycle-inner-2.svg" alt="">
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Выражения</div>
</section>


<section class="slide">
    <h2>Теорема Деморгана</h2>
    <table>
        <tr style="background: #f3f3f3">
            <th>Исходное выражение</th>
            <th>Эквивалентное выражение</th>
        </tr>
        <tr>
            <td>!a && !b</td>
            <td>!(a || b)</td>
        </tr>
        <tr>
            <td>! a && b</td>
            <td>!(a || !b)</td>
        </tr>
        <tr>
            <td>a && !b</td>
            <td>!(!a || b)</td>
        </tr>
        <tr>
            <td>a && b</td>
            <td>!(!a || !b)</td>
        </tr>
        <tr>
            <td>!a || b</td>
            <td>!(a && !b)</td>
        </tr>
        <tr>
            <td>a || !b</td>
            <td>!(!a && b)</td>
        </tr>
        <tr>
            <td>a || b</td>
            <td>!(!a && !b)</td>
        </tr>
    </table>
</section>

<section class="slide">
    <h2>Остальные методы</h2>
  <div>
      <div>Замена вызовов встроенных методов своими</div>
      <div>Предварительное вычисление результатов</div>
      <div>Вынесение часто используемых подвыражений</div>
  </div>
</section>

