<section class="slide chapter-wrapper">
    <div class="chapter-title">Качество ПО</div>
</section>

<section class="slide">
    <h2>Характеристики качества ПО</h2>
    <div class="columns two">
        <div>
            <h3>Внешние характеристики</h3>
            <div class="column">
                <div class="full border">Корректность</div>
                <div class="full border">Практичность</div>
                <div class="full border">Эффективность</div>
                <div class="full border">Надежность</div>
                <div class="full border">Целостность</div>
                <div class="full border">Адаптируемость</div>
                <div class="full border">Правильность</div>
                <div class="full border">Живучесть</div>
            </div>
        </div>
        <div>
            <h3>Внутренние характеристики</h3>
            <div class="column">
                <div class="full border">Удобство сопровождения</div>
                <div class="full border">Гибкость</div>
                <div class="full border">Портируемость</div>
                <div class="full border">Возможность повторного использования</div>
                <div class="full border">Удобочитаемость</div>
                <div class="full border">Тестируемость</div>
                <div class="full border">Понятность</div>
            </div>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Методики повышения качества ПО</h2>
    <div class="columns two">
        <div class="column">
            <div class="full border">Целевые характеристики</div>
            <div class="full border">Явный контроль качества</div>
            <div class="full border">Стратегия тестирования</div>
            <div class="full border">Принципы разработки ПО</div>
            <div class="full border">Неформальные технические обзоры</div>
        </div>
        <div class="column">
            <div class="full border">Формальные технические обзоры</div>
            <div class="full border">Внешний аудит</div>
            <div class="full border">Процедуры контроля изменений требований</div>
            <div class="full border">Оценка результатов</div>
            <div class="full border">Прототипирование</div>
        </div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Тестирование, выполняемое разработчиками</div>
</section>

<section class="slide">
    <h2>Тестирование</h2>
    <div class="column">
        <div class="warning">Цель тестирования противоположна целям других этапов разработки.</div>
        <div class="warning">Тестирование никогда не доказывает отсутствие ошибок</div>
        <div class="danger">Тестирование не повышает качество ПО</div>
        <div class="tip">Тестирование требует что бы вы рассчитывали найти ошибки в своем коде.</div>
    </div>
</section>

<section class="slide">
    <h2>Приемы тестирования</h2>
    <div class="column">
        <div class="full border">Неполное тестирование</div>
        <div class="full border">Структурированное базисное тестирование</div>
        <div class="full border">Угадывание ошибок</div>
        <div class="full border">Анализ граничных значений</div>
        <div class="full border">Классы плохих данных</div>
        <div class="full border">Классы хороших данных</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Отладка</div>
</section>

<section class="slide">
    <h2>Поиск дефектов</h2>
    <div class="column">
        <div class="full border">Стабилизация ошибки</div>
        <div class="full border">Определение источника ошибки
            <div class="column">
                <div class="full border">Сбор данных, приводящих к дефекту</div>
                <div class="full border">Анализ собранных данных и формулирование гипотезы, объясняющей баг</div>
                <div class="full border">Определение способа подтверждения или опровержения гипотезы, основанного на
                    тестировании или изучении программы
                </div>
            </div>
        </div>
        <div class="full border">Фикс бага</div>
        <div class="full border">Тестирование фикса</div>
        <div class="full border">Поиск похожих багов</div>
    </div>
</section>

<section class="slide">
    <h2>Советы по поиску причин багов</h2>
    <div class="columns two">
        <div class="column">
            <div class="full border">Формулируя гипотезу используйте все имеющиеся данные</div>
            <div class="full border">Воспроизведите ошибку несколькими способами</div>
            <div class="full border">Используйте результаты отрицательных тестов для отсеивания гипотез</div>
            <div class="full border">Используйте мозговой штурм</div>
            <div class="full border">Сократите подозрительную область, где может быть баг</div>
        </div>
        <div class="column">
            <div class="full border">Поищите баг в функционале в котором уже встречались баги</div>
            <div class="full border">Проверьте код который был изменен недавно</div>
            <div class="full border">Расширьте подозрительный фрагмент кода</div>
            <div class="full border">Обсудите баг с кем то</div>
            <div class="full border">Установите лимит времени для быстрой и грязной отладки.</div>
        </div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Рефакторинг</div>
</section>

<section class="slide">
    <h2>Разумные причины выполнения рефакторинга</h2>
    <div class="columns three">
        <div class="column">
            <div class="full border">Код повторяется</div>
            <div class="full border">Метод слишком велик</div>
            <div class="full border">Цикл слишком велик или имеет глубокую вложенность</div>
            <div class="full border">Класс имеет плохую связность</div>
            <div class="full border">Интерфейс класса не формирует согласованную абстракцию</div>
            <div class="full border">Метод принимает слишком много параметров</div>
            <div class="full border">Отдельные части класса меняет независимо от других частей</div>
            <div class="full border">При изменении программы приходится параллельно менять несколько классов</div>
        </div>
        <div class="column">
            <div class="full border">Приходится менять параллельно несколько иерархий наследования</div>
            <div class="full border">Приходится менять параллельно несколько блоков case</div>
            <div class="full border">Родственные элементы данных, используемые вместе, не организован в классы</div>
            <div class="full border">Метод использует больше параметра чужого класса, чем своего</div>
            <div class="full border">Элементарный тип данных перегружен</div>
            <div class="full border">Класс имеет слишком ограниченную функциональность</div>
            <div class="full border">По цепи методов передаются бродячие данные</div>
            <div class="full border">Прокси-объект ничего не делает</div>
        </div>
        <div class="column">
            <div class="full border">Один класс слишком много знает о другом</div>
            <div class="full border">Метод имеет не удачное имя</div>
            <div class="full border">Лишние публичные методы и свойства</div>
            <div class="full border">Подкласс использует мало методов или свойств от наследования</div>
            <div class="full border">Сложный код объясняется с помощью комментариев</div>
            <div class="full border">Код содержит глобальные переменные</div>
            <div class="full border">Перед вызовом метода выполняется подготовительный код</div>
            <div class="full border">Программа содержит код который когда-нибудь может понадобиться</div>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Плохие причины рефакторинга</h2>
    <div class="danger">Не рассматривайте рефакторинг как оправдание написание плохого кода с намерением исправить его
        позднее
    </div>
    <div class="danger">Не рассматривайте рефакторинг как способ избежать переписывание кода</div>
</section>

<section class="slide">
    <h2>Безопасный рефакторинг</h2>
    <div class="columns two">
        <div class="column">
            <div class="full border">Сохраняйте первоначальный код</div>
            <div class="full border">Ограничивайте объем отдельных видов рефакторинга</div>
            <div class="full border">Выполняйте отдельные виды рефакторинга по одному за раз</div>
            <div class="full border">Составьте список действий которые хотите предпринять</div>
            <div class="full border">Составьте список видов рефакторинга которые следует выполнить позже</div>
        </div>
        <div class="column">
            <div class="full border">Часто создавайте контрольные точки</div>
            <div class="full border">Выполняйте регрессивное-тестирование</div>
            <div class="full border">Создавайте дополнительные тесты</div>
            <div class="full border">Выполняйте обзоры измненеий</div>
            <div class="full border">Изменяйте подход в зависимости от рискованности рефакторинга</div>
        </div>
    </div>

</section>

<section class="slide">
    <h2>Стратегии рефакторинга</h2>
    <div class="column">
        <div class="tip">Выполняйте рефакторинг при создании новых методов</div>
        <div class="tip">Выполняйте рефакторинг при создании новых классов</div>
        <div class="tip">Выполняйте рефакторинг при исправлении дефектов</div>
        <div class="tip">Выполняйте рефакторинг модулей подтверженных ошибках</div>
        <div class="tip">Выполняйте рефакторинг сложных модулей</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Стратегии оптимизации кода</div>
</section>

<section class="slide">
    <h2>Производительность и оптимизация кода</h2>
    <div class="column">
        <div class="full border">Требования к программе</div>
        <div class="full border">Проект программы</div>
        <div class="full border">На этапе проектирование можно рассмотреть альтернативные варианты которые будут
            производительнее изначально
        </div>
        <div class="full border">Проекты классов и методов</div>
        <div class="full border">Взаимодействие программы с ОС</div>
        <div class="full border">Оборудование</div>
        <div class="full border">Оптимизация кода</div>
    </div>
</section>

<section class="slide">
    <div class="columns two">
        <blockquote>
            <div>Менее 4% кода обычно соответствует более чем 50% времени выполнения программы</div>
            <div class="def">- Дональд Кнут</div>
        </blockquote>
        <div>
            Image
        </div>
    </div>

</section>

<section class="slide">
    <h2>Мифы оптимизации</h2>
    <div class="column">
        <div class="warning">Сокращение числа строк высокоуровневого кода повышает быстродействие</div>
        <div class="warning">Одни операции, вероятно, выполняются быстрее других</div>
        <div class="warning">Оптимизацию следует выполнять по мере написания кода</div>
        <div class="warning">Быстродействие программы не менее важно чем ее корректность</div>
    </div>
</section>

<section class="slide">
    <h2>Алгоритм оптимизации</h2>
    <div class="column">
        <div class="full border">Напишите хороший и понятный код, поддающийся легкому изменению</div>
        <div class="full border">Если производительность не устраивает
            <div class="column">
                <div class="full border">Закоммитьте рабочий код</div>
                <div class="full border">Оцените производительность системы и найдите горячие точки</div>
                <div class="full border">Определите чем обусловлена низкая производительность</div>
                <div class="full border">Оптимизируйте проблемное место</div>
                <div class="full border">Оцените каждую оптимизацию по одной за раз</div>
                <div class="full border">Если оптимизация не привела к улучшению, повторите все заново</div>
            </div>
        </div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Логика</div>
</section>

<section class="slide">
    <div class="code">
        <h3>Прекращение проверки сразу после получения ответа</h3>
        <img src="./pictures/control-3.svg" alt="">
    </div>
    <div class="code">
        <h3>Упорядочивание if и case по частоте</h3>
        <img src="./pictures/optimization-1.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Замена сложных выражений на обращение к таблице подстановки</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/optimization-2.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/optimization-3.svg" alt="">
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Циклы</div>
</section>

<section class="slide">
    <h2>Размыкание (unswitch) цикла</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/cycle-unswitch-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/cycle-unswitch-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Объединение (jamming) цикла</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/cycle-jamming-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/cycle-jamming-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Развертывание (unrolling) цикла</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/cycle-unrolling-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/cycle-unrolling-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Минимизация объема работы, выполняемой в цикле</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/cycle-min-work-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/cycle-min-work-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Вложение более ресурсоемкого цикла в менее ресурсоемкий</h2>
    <div class="code">
        <h3>Плохо (600 итераций)</h3>
        <img src="./pictures/cycle-inner-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше (505 итераций)</h3>
        <img src="./pictures/cycle-inner-2.svg" alt="">
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Выражения</div>
</section>


<section class="slide">
    <h2>Теорема Деморгана</h2>
    <table>
        <tr style="background: #f3f3f3">
            <th>Исходное выражение</th>
            <th>Эквивалентное выражение</th>
        </tr>
        <tr>
            <td>!a && !b</td>
            <td>!(a || b)</td>
        </tr>
        <tr>
            <td>! a && b</td>
            <td>!(a || !b)</td>
        </tr>
        <tr>
            <td>a && !b</td>
            <td>!(!a || b)</td>
        </tr>
        <tr>
            <td>a && b</td>
            <td>!(!a || !b)</td>
        </tr>
        <tr>
            <td>!a || b</td>
            <td>!(a && !b)</td>
        </tr>
        <tr>
            <td>a || !b</td>
            <td>!(!a && b)</td>
        </tr>
        <tr>
            <td>a || b</td>
            <td>!(!a && !b)</td>
        </tr>
    </table>
</section>

<section class="slide">
    <h2>Остальные методы</h2>
    <div class="column">
        <div class="full border">Замена вызовов встроенных методов своими</div>
        <div class="full border">Предварительное вычисление результатов</div>
        <div class="full border">Вынесение часто используемых подвыражений</div>
    </div>
</section>

