<section class="slide chapter-wrapper">
    <div class="chapter-title">Качество ПО</div>
</section>

<section class="slide">
    <h2>Характеристики качества ПО</h2>
    <br>
    <h3>Внешние характеристики</h3>
    <div class="row start">
        <div class="border">Корректность</div>
        <div class="border">Практичность</div>
        <div class="border">Эффективность</div>
        <div class="border">Надежность</div>
        <div class="border">Целостность</div>
        <div class="border">Адаптируемость</div>
        <div class="border">Правильность</div>
        <div class="border">Живучесть</div>
    </div>
    <br>
    <h3>Внутренние характеристики</h3>
    <div class="row start">
        <div class="border">Удобство сопровождения</div>
        <div class="border">Гибкость</div>
        <div class="border">Возможность повторного использования</div>
        <div class="border">Удобочитаемость</div>
        <div class="border">Тестируемость</div>
        <div class="border">Понятность</div>
    </div>
</section>

<section class="slide">
    <h2>Методики повышения качества ПО</h2>
    <div class="row start">
        <div class="border">Целевые характеристики</div>
        <div class="border">Явный контроль качества</div>
        <div class="border">Стратегия тестирования</div>
        <div class="border">Внешний аудит</div>
        <div class="border">Принципы разработки ПО</div>
        <div class="border">Неформальные технические обзоры</div>
        <div class="border">Формальные технические обзоры</div>
        <div class="border">Процедуры контроля изменений требований</div>
        <div class="border">Оценка результатов</div>
        <div class="border">Прототипирование</div>
    </div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Тестирование, выполняемое разработчиками</div>
</section>

<section class="slide">
    <h2>Тестирование</h2>
    <div class="column">
        <div class="warning">Цель тестирования противоположна целям других этапов разработки.</div>
        <div class="warning">Тестирование никогда не доказывает отсутствие ошибок</div>
        <div class="danger">Тестирование не повышает качество ПО</div>
        <div class="tip">Тестирование требует что бы вы рассчитывали найти ошибки в своем коде.</div>
    </div>
</section>

<section class="slide">
    <h2>Приемы тестирования</h2>
    <div class="column">
        <div class="full border">Неполное тестирование</div>
        <div class="full border">Структурированное базисное тестирование</div>
        <div class="full border">Угадывание ошибок</div>
        <div class="full border">Анализ граничных значений</div>
        <div class="full border">Классы плохих данных</div>
        <div class="full border">Классы хороших данных</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Отладка</div>
</section>

<section class="slide">
    <h2>Поиск дефектов</h2>
    <div class="column">
        <div class="full border">Стабилизация ошибки</div>
        <div class="full border">Определение источника ошибки
            <div class="column">
                <div class="full border">Сбор данных, приводящих к дефекту</div>
                <div class="full border">Анализ собранных данных и формулирование гипотезы, объясняющей баг</div>
                <div class="full border">Определение способа подтверждения или опровержения гипотезы, основанного на
                    тестировании или изучении программы
                </div>
            </div>
        </div>
        <div class="full border">Фикс бага</div>
        <div class="full border">Тестирование фикса</div>
        <div class="full border">Поиск похожих багов</div>
    </div>
</section>

<section class="slide">
    <h2>Советы по поиску причин багов</h2>
    <div class="row start">
        <div class="border">Обсудите баг с кем то</div>
        <div class="border">Используйте мозговой штурм</div>
        <div class="border">Расширьте подозрительный фрагмент кода</div>
        <div class="border">Воспроизведите ошибку несколькими способами</div>
        <div class="border">Проверьте код который был изменен недавно</div>
        <div class="border">Ограничьте время для быстрой и грязной отладки.</div>
        <div class="border">Сократите потенциальную область источника бага</div>
        <div class="border">Поищите баг в функционале в котором уже встречались баги</div>
        <div class="border">Используйте результаты отрицательных тестов для отсеивания гипотез</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Рефакторинг</div>
</section>

<section class="slide">
    <h2>Разумные причины выполнения рефакторинга: Общее</h2>
    <div class="row start">
        <div class="border">Код повторяется</div>
        <div class="border">Прокси-объект ничего не делает</div>
        <div class="border">Элементарный тип данных перегружен</div>
        <div class="border">Сложный код объясняется с помощью комментариев</div>
        <div class="border">Код содержит глобальные переменные</div>
        <div class="border">Цикл слишком велик / имеет глубокую вложенность</div>
        <div class="border">Приходится менять параллельно несколько блоков case</div>
    </div>
</section>
<section class="slide">
    <h2>Разумные причины выполнения рефакторинга: Методы</h2>
    <div class="row start">
        <div class="border">Метод слишком велик</div>
        <div class="border">Метод принимает слишком много параметров</div>
        <div class="border">Метод имеет не удачное имя</div>
        <div class="border">По цепи методов передаются бродячие данные</div>
        <div class="border">Лишние публичные методы и свойства</div>
        <div class="border">Перед вызовом метода выполняется подготовительный код</div>
        <div class="border">Подкласс не пользуется наследованием</div>
        <div class="border">Метод использует больше параметра чужого класса, чем своего</div>
    </div>
</section>
<section class="slide">
    <h2>Разумные причины выполнения рефакторинга: Классы</h2>
    <div class="row start">
        <div class="border">Класс имеет плохую связность</div>
        <div class="border">Интерфейс класса не формирует согласованную абстракцию</div>
        <div class="border">Отдельные части класса меняет независимо от других частей</div>
        <div class="border">При изменении программы приходится параллельно менять несколько классов</div>
        <div class="border">Приходится менять параллельно несколько иерархий наследования</div>
        <div class="border">Родственные элементы данных, используемые вместе, не организован в классы</div>
        <div class="border">Класс имеет слишком ограниченную функциональность</div>
        <div class="border">Один класс слишком много знает о другом</div>
    </div>
</section>
<section class="slide">
    <h2>Плохие причины рефакторинга</h2>
    <div class="row h-center">
        <div class="danger full">Не рассматривайте рефакторинг как оправдание написание плохого кода с намерением
            исправить его позднее
        </div>
        <div class="danger full">Не рассматривайте рефакторинг как способ избежать переписывание кода</div>
        <img src="./pictures/no.gif" alt="">
    </div>
</section>

<section class="slide">
    <h2>Безопасный рефакторинг</h2>
    <div class="row start">
        <div class="border">Сохраняйте первоначальный код</div>
        <div class="border">Ограничивайте объем отдельных видов рефакторинга</div>
        <div class="border">Часто создавайте контрольные точки</div>
        <div class="border">Выполняйте регрессивное-тестирование</div>
        <div class="border">Создавайте дополнительные тесты</div>
        <div class="border">Выполняйте обзоры изменений</div>
        <div class="border">Выполняйте отдельные виды рефакторинга по одному за раз</div>
        <div class="border">Составьте список план рефакторинга</div>
        <div class="border">Составьте список видов рефакторинга которые следует выполнить позже</div>
        <div class="border">Изменяйте подход в зависимости от рискованности рефакторинга</div>
    </div>
</section>

<section class="slide">
    <h2>Стратегии рефакторинга</h2>
    <br>
    <h3>Выполняйте рефакторинг:</h3>
    <div class="row start">
        <div class="border">сложных модулей</div>
        <div class="border">модулей подверженных ошибках</div>
    </div>
    <br>
    <h3>а также при:</h3>
    <div class="row start">
        <div class="border">создании новых методов</div>
        <div class="border">создании новых классов</div>
        <div class="border">исправлении дефектов</div>
    </div>

</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Стратегии оптимизации кода</div>
</section>

<section class="slide">
    <h2>Производительность и оптимизация кода</h2>
    <div class="row start">
        <div class="border">Требования к программе</div>
        <div class="border">Проект программы</div>
        <div class="border">Оборудование</div>
        <div class="border">Оптимизация кода</div>
        <div class="border">Проекты классов и методов</div>
        <div class="border">Взаимодействие программы с ОС</div>
    </div>
    <br>
    <div class="tip">На этапе проектирование можно рассмотреть альтернативные варианты которые будут
        производительнее изначально
    </div>
</section>

<section class="slide">
    <h2>Оптимизация</h2>
    <div class="row">
        <div class="col half">
            <blockquote>
                <div>Менее 4% кода обычно соответствует более чем 50% времени выполнения программы</div>
                <div class="def">- Дональд Кнут</div>
            </blockquote>
            <h3>Мифы оптимизации</h3>
            <div class="column">
                <div class="border">Сокращение числа строк высокоуровневого кода повышает быстродействие</div>
                <div class="border">Оптимизацию следует выполнять по мере написания кода</div>
                <div class="border">Быстродействие программы не менее важно чем ее корректность</div>
            </div>
        </div>
        <div class="half">
            <img src="./pictures/knut.jpg" alt="">
        </div>
    </div>
</section>

<section class="slide">
    <h2>Алгоритм оптимизации</h2>
    <div class="column">
        <div class="full border">Напишите хороший и понятный код, поддающийся легкому изменению</div>
        <div class="full border">Если производительность не устраивает
            <div class="column">
                <div class="full border">Закоммитьте рабочий код</div>
                <div class="full border">Оцените производительность системы и найдите горячие точки</div>
                <div class="full border">Определите чем обусловлена низкая производительность</div>
                <div class="full border">Оптимизируйте проблемное место</div>
                <div class="full border">Оцените каждую оптимизацию по одной за раз</div>
            </div>
        </div>
        <div class="full border">Если оптимизация не привела к улучшению, повторите все заново</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Логика</div>
</section>

<section class="slide">
    <div class="code">
        <h3>Прекращение проверки сразу после получения ответа</h3>
        <img src="./pictures/control-3.svg" alt="">
    </div>
    <div class="code">
        <h3>Упорядочивание if и case по частоте</h3>
        <img src="./pictures/optimization-1.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Замена сложных выражений на обращение к таблице подстановки</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/optimization-2.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/optimization-3.svg" alt="">
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Циклы</div>
</section>

<section class="slide">
    <h2>Размыкание (unswitch) цикла</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/cycle-unswitch-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/cycle-unswitch-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Объединение (jamming) цикла</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/cycle-jamming-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/cycle-jamming-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Развертывание (unrolling) цикла</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/cycle-unrolling-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/cycle-unrolling-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Минимизация объема работы, выполняемой в цикле</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/cycle-min-work-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше</h3>
        <img src="./pictures/cycle-min-work-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Вложение более ресурсоемкого цикла в менее ресурсоемкий</h2>
    <div class="code">
        <h3>Плохо (600 итераций)</h3>
        <img src="./pictures/cycle-inner-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Лучше (505 итераций)</h3>
        <img src="./pictures/cycle-inner-2.svg" alt="">
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Методики оптимизации кода: Выражения</div>
</section>


<section class="slide">
    <h2>Теорема Деморгана</h2>
    <table>
        <tr style="background: #f3f3f3">
            <th>Исходное выражение</th>
            <th>Эквивалентное выражение</th>
        </tr>
        <tr>
            <td>!a && !b</td>
            <td>!(a || b)</td>
        </tr>
        <tr>
            <td>! a && b</td>
            <td>!(a || !b)</td>
        </tr>
        <tr>
            <td>a && !b</td>
            <td>!(!a || b)</td>
        </tr>
        <tr>
            <td>a && b</td>
            <td>!(!a || !b)</td>
        </tr>
        <tr>
            <td>!a || b</td>
            <td>!(a && !b)</td>
        </tr>
        <tr>
            <td>a || !b</td>
            <td>!(!a && b)</td>
        </tr>
        <tr>
            <td>a || b</td>
            <td>!(!a && !b)</td>
        </tr>
    </table>
</section>

<section class="slide">
    <h2>Остальные методы</h2>
    <div class="column">
        <div class="full border">Замена вызовов встроенных методов своими</div>
        <div class="full border">Предварительное вычисление результатов</div>
        <div class="full border">Вынесение часто используемых подвыражений</div>
    </div>
</section>

