
<section class="slide">
    <h2 class="shout">Проектирование</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Проектирование: Тезисы</h2>
</section>
<section class="slide">
    <h2>Проектирование: Методики</h2>
</section>
<section class="slide">
    <h2>Проектирование: Главный Технический Императив ПО</h2>
    <figure>
        <blockquote>
            <p>
                Не следует пытаться охватить всю программу сразу. Вместо этого мы должны попытаться организовывать программы так, что бы можно было безопасно работать с их отдельными фрагментами по очереди.
            </p>
        </blockquote>
        <figcaption>Эдсгер Дейкстра</figcaption>
    </figure>
</section>
<section class="slide">
    <h2>Проектирование: Желательные характеристики проекта</h2>
</section>
<section class="slide">
    <h2>Проектирование: Изменения</h2>
</section>
<section class="slide">
    <h2>Проектирование: Сопряжение</h2>
</section>
<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Классы</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Классы: АТД</h2>
</section>
<section class="slide">
    <h2>Классы: Интерфейсы</h2>
</section>
<section class="slide">
    <h2>Классы: Методы</h2>
</section>
<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Защитное программирование</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Защитное программирование: Определение</h2>
</section>
<section class="slide">
    <h2>Защитное программирование: Способы обработки ошибок</h2>
</section>
<section class="slide">
    <h2>Защитное программирование: Утверждения</h2>
</section>
<section class="slide">
    <h2>Защитное программирование: Исключения</h2>
</section>
<section class="slide">
    <h2>Защитное программирование: Изоляция повреждения / баррикада</h2>
</section>
