<section class="slide chapter-wrapper">
    <div class="chapter-title">Проектирование при конструировании</div>
</section>

<section class="slide">
    <h2>Проектирование</h2>
    <div><span class="def">Проектирование</span> - разработка схемы преобразования спецификации в готовое
                                                 приложение.
    </div>
    <h3>Тезисы</h3>
    <div class="column">
        <div class="full border">грязный и неряшливый процесс</div>
        <div class="full border">недетерминированный и эвристический процесс</div>
        <div class="full border">постепенный процесс</div>
        <div class="full border">определение компромиссов и приоритетов, ограничение возможностей</div>
    </div>
</section>

<section class="slide">
    <h2>
        Методики проектирования</h2>
    <div class="column">
        <div class="full border">Нисходящее (<span class="def">top-down</span>) проектирование</div>
        <div class="full border">Восходящее (<span class="def">bottom-up</span>) проектирование</div>
        <div class="full border">Экспериментальное прототипирование</div>
        <div class="full border">Совместное проектирование</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Управление сложностью</div>
</section>

<section class="slide">
    <h2>Главный технический императив ПО</h2>
    <blockquote>
        <div>Не следует пытаться охватить всю программу сразу. Вместо этого мы должны попытаться организовывать
             программы
             так, что бы можно было безопасно работать с их отдельными фрагментами по очереди.
        </div>
        <div class="def">Дийкстра, 1972</div>
    </blockquote>
    <table>
        <tr style="width: 50%">
            <td><h3>Причины усложнения</h3></td>
            <td><h3>Подходы к управлению сложностью</h3></td>
        </tr>
        <tr>
            <td class="danger">Сложное решение простой проблемы</td>
            <td>Старайтесь свести к минимуму объем существенной сложности, с которым придется работать в каждый конкретный момент времени
            </td>
        </tr>
        <tr>
            <td class="danger">Простое, но неверное решение сложной проблемы</td>
            <td rowspan="2">Сдерживайте необязательный рост несущественный сложности</td>

        </tr>
        <tr>
            <td class="danger">Неадекватное сложное решение сложной проблемы</td>
            <td></td>
        </tr>
    </table>
</section>

<section class="slide">
    <h2>Желательные характеристики проекта</h2>
    <div class="column">
        <div class="half border">Минимальная сложность</div>
        <div class="half border">Простота сопровождения</div>
        <div class="half border">Слабое сопряжение</div>
        <div class="half border">Расширяемость</div>
        <div class="half border">Возможность повторного использования</div>
        <div class="half border">Минимальная, но полная функциональность</div>
        <div class="half border">Соответствие практикам, соглашениями и методикам</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Сопряжение</div>
</section>

<section class="slide">
    <h2>Критерии оценки сопряжения: Объем</h2>
    <div class="code">
        <h3>Высокое число соединений</h3>
        <img src="./pictures/coupling-volume-high.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Критерии оценки сопряжения: Объем</h2>
    <div class="code">
        <h3>Низкое число соединений</h3>
        <img src="./pictures/coupling-volume-low.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Критерии оценки сопряжения: Видимость</h2>
    <div class="code">
        <h3>Не очевидная связь</h3>
        <img src="./pictures/coupling-visibility-bad.svg" alt="">
    </div>
    <div class="code">
        <h3>Очевидная связь</h3>
        <img src="./pictures/coupling-visibility-good.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Критерии оценки сопряжения: Гибкость</h2>
    <div class="code">
        <img src="./pictures/coupling-flex.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Простое сопряжение посредством аргументов</h2>
    <div class="code">
        <img src="./pictures/coupling-args.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Простое сопряжение посредством объекта</h2>
    <div class="code">
        <img src="./pictures/coupling-object.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Сопряжение посредством объекта параметра</h2>
    <div class="code">
        <img src="./pictures/coupling-object-arg.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Семантическое сопряжение</h2>
    <div class="code">
        <img src="./pictures/semantic-coupling-1.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Семантическое сопряжение</h2>
    <div class="code">
        <img src="./pictures/semantic-coupling-2.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Семантическое сопряжение</h2>
    <div class="code">
        <img src="./pictures/semantic-coupling-3.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Семантическое сопряжение</h2>
    <div class="code">
        <img src="./pictures/semantic-coupling-4.svg" alt="">
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Классы</div>
</section>

<section class="slide">
    <h2>АТД</h2>
    <div><span class="def">Абстрактный тип данных</span> - это набор, включающий данные и выполняемые над ними
                                                         операции.
    </div>
    <h3>Преимущества использования АТД</h3>
    <div class="column">
        <div class="full border">Возможность сокрытия деталей реализации</div>
        <div class="full border">Ограничение области изменений</div>
        <div class="full border">Легкость оптимизации и проверки кода</div>
        <div class="full border">Удобочитаемость и понятность кода</div>
        <div class="full border">Ограничение области использования данных</div>
        <div class="full border">Возможность работы абстракцией, а реализацией</div>
    </div>
</section>

<section class="slide">
    <h2>Хорошая абстракция</h2>
    <div class="column">
        <div class="full border">Выражайте в интерфейсе класса согласованный уровень абстракции</div>
        <div class="full border">Убедитесь что понимаете, реализацией какой абстракции является класс</div>
        <div class="full border">Предоставляйте методы вместе с противоположными им методами</div>
        <div class="full border">Убирайте постороннюю информацию в другие классы</div>
        <div class="full border">Делайте интерфейсы программными, а не семантическими</div>
        <div class="full border">Опасайтесь нарушения целостности интерфейса при изменении класса</div>
        <div class="full border">Не добавляйте публичные свойства которые не согласуются с абстракцией интерфейса</div>
        <div class="full border">Рассматривайте абстракцию и связность вместе</div>
    </div>
</section>

<section class="slide">
    <h2>Хорошая инкапсуляция</h2>
    <div class="column">
        <div class="full border">Минимизируйте публичные методы и свойства</div>
        <div class="full border">Не делайте предположений о клиентах класса</div>
        <div class="full border">Цените легкость чтения кода выше, чем удобство написания</div>
        <div class="full border">Настороженно относитесь к семантическим нарушениям инкапсуляции</div>
        <div class="full border">Остерегайтесь слишком высокого сопряжения (high coupling)</div>
    </div>
</section>

<section class="slide">
    <h2>Разумные причины создания классов</h2>
    <div class="row">
        <div class="half border">Моделирование объектов реального мира и абстрактных объектов</div>
        <div class="half border">Снижение и изоляция сложности</div>
        <div class="half border">Сокрытие деталей реализации</div>
        <div class="half border">Ограничение влияния изменений</div>
        <div class="half border">Упрощение передачи параметров в методы</div>
        <div class="half border">Создание центральных точек управления</div>
        <div class="half border">Облегчение повторного использования кода</div>
        <div class="half border">Планирование создания семейств</div>
        <div class="half border">Упаковка родственных операций / команд</div>
        <div class="half border">Выполнение специфического вида рефакторинга</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Высококачественные методы</div>
</section>

<section class="slide">
    <h2>Разумные причины создания методов</h2>
    <div class="row">
        <div class="half border">Снижение сложности</div>
        <div class="half border">Формирование понятной промежуточной абстракции</div>
        <div class="half border">Предотвращение дублирования кода</div>
        <div class="half border">Поддержка наследования</div>
        <div class="half border">Сокрытие очередности действий</div>
        <div class="half border">Упрощение сложных булевых проверок</div>
        <div class="half border">Изоляция сложности</div>
        <div class="half border">Сокрытие деталей реализации</div>
        <div class="half border">Ограничение влияния изменений</div>
        <div class="half border">Создание центральных точек управления</div>
        <div class="half border">Выполнение специфического рефакторинга</div>
    </div>
</section>

<section class="slide">
    <h2>Удачные имена методов</h2>
    <div class="column">
        <div class="full border">Название должно описывать то что выполняет метод</div>
        <div class="full border">Не использовать неоднозначные, расплывчатые, не выразительные глаголы в названии</div>
        <div class="full border">Не использовать номера в названии методов для дифференциации / разделению на шаги</div>
        <div class="full border">Не ограничивать длину метода искусственно</div>
        <div class="full border">Для названия метода можно использовать описание возвращаемого значения</div>
        <div class="full border">Метод можно именовать по схеме глагол + имя данных с которыми работает метод</div>
        <div class="full border">Дисциплинированно использовать антонимы</div>
        <div class="full border">Использовать конвенции именования</div>
    </div>
</section>

<section class="slide">
    <h2>Советы по использованию аргументов</h2>
    <div class="column">
        <div class="full border">Если несколько методов используют одинаковые аргументы, то необходимо передавать их в
                                 одинаковом /
                                 согласованном порядке
        </div>
        <div class="full border">Не передавать не используемые аргументы</div>
        <div class="full border">Переменные статуса или ошибки передавать последними, так как они второстепенны по
                                 отношению к
                                 главной цели
                                 метода
        </div>
        <div class="full border">Не изменять входные параметры и не переприсваивать</div>
        <div class="full border">Ограничивать число аргументов не более 7, иначе следует передавать их как объект</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Защитное программирование</div>
</section>

<section class="slide">
    <h2>Утверждения (assertion)</h2>
    <div><span class="def">Утверждение</span> - код, который проверяет правильность выполнения программы.<br/>
        <span class="def">Утверждение</span> не предназначены для показа ошибок в продакшн режиме, они для дев режима и
                                              разработки.
    </div>
    <h3>Общие принципы использования утверждений</h3>
    <div class="row">
        <div class="half tip">Используйте процедуры обработки ошибок для ожидаемых событий и утверждения для событий,
                              которые
                              происходить
                              не должны
        </div>
        <div class="half tip">Для большей устойчивости проверяйте утверждения, а затем все равно обрабатывайте
                              ошибки
        </div>
        <div class="half warning">Старайтесь не помещать выполняемый код в утверждения</div>
        <div class="half tip">Используйте утверждения для документирования пред- и постусловий</div>
    </div>
</section>

<section class="slide">
    <h2>Способы обработки ошибок</h2>
    <div>
        Выбор того или иного способа обработки ошибок зависит от того что важнее, Корректность или Устойчивость
    </div>
    <h3>Способы</h3>
    <div class="columns two">
        <div class="column">
            <div class="full border">Вернуть нейтральное значение</div>
            <div class="full border">Заменить следующий корректным блоком данных</div>
            <div class="full border">Вернуть последний успешный результат</div>
            <div class="full border">Подставить ближайшее допустимое значение</div>
            <div class="full border">Записать лог ошибки</div>
        </div>
        <div class="column">
            <div class="full border">Вернуть код ошибки</div>
            <div class="full border">Вызвать обработчик ошибок</div>
            <div class="full border">Показать сообщение об ошибке</div>
            <div class="full border">Обработать ошибку в месте возникновения</div>
            <div class="full border">Прекратить выполнение программы</div>
        </div>
    </div>

</section>

<section class="slide">
    <h2>Исключения</h2>
    <div class="column">
        <div class="full tip">Используйте исключения для оповещения других частей программы об ошибках</div>
        <div class="full tip">Генерируйте исключения для действительно исключительных ситуаций и не используйте
                              исключения по
                              мелочам
        </div>
        <div class="full tip">Избегайте выкидывание исключение в конструкторах</div>
        <div class="full tip">Исключение должно содержать все необходимую информацию о причинах исключения</div>
        <div class="full tip">Избегать пустых блоков catch</div>
        <div class="full tip">Стандартизируйте работу с исключениями на проекте</div>
    </div>
</section>

<section class="slide">
    <h2>Изоляция повреждений / баррикада</h2>
    <h3>Публичные методы</h3>
    <div><span class="def">Публичные методы</span> предполагают что получаемые данные небезопасны и отвечают за их
                                                   проверку и исправление.
    </div>
    <div class="tip">Здесь
                     используются обработчики ошибок.
    </div>
    <h3>Приватные методы</h3>
    <div><span class="def">Приватные методы</span> предполагают что полученные данные прошли проверку в публичном методе
                                                   и безопасны.
    </div>
    <div class="tip">Здесь
                     используются утверждения
    </div>
</section>

<section class="slide">
    <h2>Изоляция повреждений / баррикада</h2>
    <div class="code">
        <img src="./pictures/barricade.svg" alt="">
    </div>
</section>
