
<section class="slide">
    <h2 class="shout">Последовательный код</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Последовательный код: Явные и не явные зависимости</h2>
</section>
<section class="slide">
    <h2>Последовательный код: Определенный и произвольный порядок</h2>
</section>
<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Условные операторы</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Условные операторы: if</h2>
</section>
<section class="slide">
    <h2>Условные операторы: case</h2>
</section>
<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Нестандартные управляющие структуры</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Нестандартные управляющие структуры: Множественные выходы</h2>
</section>
<section class="slide">
    <h2>Нестандартные управляющие структуры: Рекурсия</h2>
</section>
<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Таблицы подстановки</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Таблицы подстановки: Таблицы с прямым доступом</h2>
</section>
<section class="slide">
    <h2>Таблицы подстановки: Таблицы с индексированным доступом</h2>
</section>
<section class="slide">
    <h2>Таблицы подстановки: Таблицы со ступенчатым доступом</h2>
</section>

<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Общие вопросы управления</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Общие вопросы управления: Упрощение сложных выражений</h2>
</section>
<section class="slide">
    <h2>Общие вопросы управления: Уменьшение глубины вложенности</h2>
</section>
<section class="slide">
    <h2>Общие вопросы управления: Измерение сложности метода</h2>
</section>
<!------------------------------------------------>
