<section class="slide chapter-wrapper">
    <div class="chapter-title"></div>
</section>
<section class="slide">
    <h2></h2>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Операторы</div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Последовательный код</div>
</section>

<section class="slide">
    <h2>Организуйте код так что бы зависимости были очевидными</h2>
    <div>Пример кода</div>
</section>

<section class="slide">
    <h2>Используйте аргументы что бы сделать зависимости очевидными</h2>
    <div>Пример кода</div>
</section>

<section class="slide">
    <h2>Документируйте неявные зависимости с помощью комментариев</h2>
    <div>Пример кода</div>
</section>

<section class="slide">
    <h2>Проверяйте зависимости с помощью утверждений или обработки ошибок</h2>
    <div>Пример кода</div>
</section>

<section class="slide">
    <h2>Группируйте взаимосвязанные операции</h2>
    <div>Пример кода</div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Условные операторы: if</div>
</section>

<section class="slide">
    <h2>Сначала напишите код номинального хода алгоритма, затем опишите исключительные ситуации</h2>
</section>

<section class="slide">
    <h2>Убедитесь, что при проверке на равенство ветвление корректно</h2>
</section>

<section class="slide">
    <h2>Размещайте нормальный вариант после if, а не после else</h2>
</section>

<section class="slide">
    <h2>Не делать пустой if, что бы что то прописать в else</h2>
</section>

<section class="slide">
    <h2>Упрощайте сложные проверки с помощью методов</h2>
</section>

<section class="slide">
    <h2>Размещайте наиболее вероятные варианты раньше остальных</h2>
</section>

<section class="slide">
    <h2>Убедитесь, что все варианты учтены</h2>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Условные операторы: case</div>
</section>

<section class="slide">
    <h2>Упорядочивайте варианты по алфавиту или числению</h2>
</section>

<section class="slide">
    <h2>Поместите правильный вариант первым</h2>
</section>

<section class="slide">
    <h2>Отсортируйте варианты по частоте</h2>
</section>

<section class="slide">
    <h2>Сделайте обработку каждого варианта простой</h2>
</section>

<section class="slide">
    <h2>Используйте вариант по умолчанию для реальной исключительной ситуации, а не для обработки последнего из вариантов</h2>
</section>

<section class="slide">
    <h2>Используйте вариант по умолчанию для выявления ошибок</h2>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Нестадартные управляющие структуры</div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Ранний выход</div>
</section>

<section class="slide">
    <h2>Используйте ранний выход так как это улучшает читабельность</h2>
</section>

<section class="slide">
    <h2>Минимизируйте число возвратов из каждого метода</h2>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Рекурсия</div>
</section>

<section class="slide">
    <h2>Рекурсия всегда должна иметь базовый случай для выхода из рекурсии</h2>
</section>

<section class="slide">
    <h2>Избегайте циклических рекурсий.</h2>
</section>

<section class="slide">
    <h2>Следите за производительность рекурсии</h2>
</section>

<section class="slide">
    <h2>Решайте задачу итерацией вместо рекурсии если это возможно</h2>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Табличные методы</div>
</section>

<section class="slide">
    <h2>Таблицы с прямым доступом</h2>
</section>

<section class="slide">
    <h2>Таблицы с индексированным доступом</h2>
</section>

<section class="slide">
    <h2>Таблицы с ступенчатым доступом</h2>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Общие вопросы управления</div>
</section>

<section class="slide">
    <h2>Разбивайте сложные проверки на части с помощью отдельных логических переменных</h2>
</section>
<section class="slide">
    <h2>Размещайте сложные логические проверки в функции-предикаты</h2>
</section>
<section class="slide">
    <h2>Избегать проверок через отрицание</h2>
</section>
<section class="slide">
    <h2>По возможности применять теорему Деморгана</h2>
</section>
<section class="slide">
    <h2>При сравнении чисел использовать упорядочивание с числовой прямой</h2>
</section>
<section class="slide">
    <h2>Измерение сложности метода</h2>
</section>
