<section class="slide chapter-wrapper">
    <div class="chapter-title">Последовательный код</div>
</section>

<section class="slide">
    <h2>Последовательный код</h2>
    <div class="code">
        <h3>Пример когда порядковые зависимости скрыты</h3>
        <img src="./pictures/deps-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Организуйте код так что бы зависимости были очевидными</h3>
        <img src="./pictures/deps-2.svg" alt="">
    </div>
    <div class="code">
        <h3>Документируйте неявные зависимости с помощью комментариев</h3>
        <img src="./pictures/deps-3.svg" alt="">
    </div>
</section>
<section class="slide">
    <h2>Последовательный код</h2>
    <div class="code">
        <h3>Используйте аргументы что бы сделать зависимости очевидными</h3>
        <img src="./pictures/deps-4.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Последовательный код</h2>
    <div class="code">
        <h3>Группируйте взаимосвязанные операции</h3>
        <img src="./pictures/deps-5.svg" alt="">
    </div>
</section>


<section class="slide">
    <h2>Последовательный код</h2>
    <div class="code">
        <h3>Проверяйте зависимости с помощью утверждений или обработки ошибок</h3>
        <img src="./pictures/deps-6.svg" alt="">
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Условные операторы</div>
</section>
<div class="slide">
    <h2>if</h2>
    <div class="column">
        <div class="full border">Сначала напишите код номинального хода алгоритма, затем опишите исключительные
            ситуации
        </div>
        <div class="full border">Убедитесь, что при проверке на равенство ветвление корректно</div>
        <div class="full border">Размещайте нормальный вариант после if, а не после else</div>
        <div class="full border">Не делать пустой if, что бы что то прописать в else</div>
        <div class="full border">Упрощайте сложные проверки с помощью методов</div>
        <div class="full border">Размещайте наиболее вероятные варианты раньше остальных</div>
        <div class="full border">Убедитесь, что все варианты учтены</div>
    </div>
</div>

<section class="slide">
    <h2>case</h2>
    <div class="column">
        <div class="full border">Упорядочивайте варианты по алфавиту или числению</div>
        <div class="full border">Поместите правильный вариант первым</div>
        <div class="full border">Отсортируйте варианты по частоте</div>
        <div class="full border">Сделайте обработку каждого варианта простой</div>
        <div class="full border">Используйте вариант по умолчанию для реальной исключительной ситуации, а не для
            обработки последнего из
            вариантов
        </div>
        <div class="full border">Используйте вариант по умолчанию для выявления ошибок</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Нестадартные управляющие структуры</div>
</section>

<section class="slide">
    <h2>Рекурсия</h2>
    <div class="column">
        <div class="full border">Рекурсия всегда должна иметь базовый случай для выхода из рекурсии</div>
        <div class="full border">Избегайте циклических рекурсий.</div>
        <div class="full border">Следите за производительность рекурсии</div>
        <div class="full border">Решайте задачу итерацией вместо рекурсии если это возможно</div>
    </div>
</section>


<section class="slide">
    <h2>Табличные методы</h2>
    <div class="code">
        <h3>Таблицы с прямым доступом</h3>
        <img src="./pictures/table-1.svg" alt="">
    </div>
    <div class="code">
        <h3>Таблицы с индексированным доступом</h3>
        <img src="./pictures/table-2.svg" alt="">
    </div>
</section>
<section class="slide">
    <h2>Табличные методы</h2>
    <div class="code">
        <h3>Таблицы с ступенчатым доступом</h3>
        <img src="./pictures/table-3.svg" alt="">
    </div>
</section>
<section class="slide chapter-wrapper">
    <div class="chapter-title">Общие вопросы управления</div>
</section>

<section class="slide">
    <h2>Используйте отдельные логические переменные</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/logic-var-bad.svg" alt="">
    </div>
    <div class="code">
        <h3>Хорошо</h3>
        <img src="./pictures/logic-var-good.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Используйте функции-предикаты</h2>
    <div class="code">
        <h3>Плохо</h3>
        <img src="./pictures/logic-var-bad.svg" alt="">
    </div>
    <div class="code">
        <h3>Хорошо</h3>
        <img src="./pictures/logic-var-predicate.svg" alt="">
    </div>
</section>

<section class="slide">
    <h3>Избегайте проверок через отрицание</h3>
    <div class="code">
        <img src="./pictures/control-1.svg" alt="">
    </div>
    <h3>По возможности применяйте теорему Деморгана</h3>
    <div class="code">
        <img src="./pictures/control-2.svg" alt="">
    </div>
    <h3>При сравнении чисел используйте числовую прямую</h3>
    <div class="code">
        <img src="./pictures/control-3.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Измерение сложности метода</h2>
    <div class="column">
        <div class="tip">
            <div>0-5</div>
            <div>Метод, возможно, в порядке</div>
        </div>
        <div class="warning">
            <div>6-10</div>
            <div>Пора начать думать над упрощением</div>
        </div>
        <div class="danger">
            <div>10+</div>
            <div>Пора делать рефакторинг</div>
        </div>
    </div>
</section>
