

<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Code-style</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Code-style: Цель</h2>
</section>
<section class="slide">
    <h2>Code-style: Советы</h2>
</section>
<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Комментарии</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Комментарии: Виды</h2>
</section>
<section class="slide">
    <h2>Комментарии: Советы</h2>
</section>
<!------------------------------------------------>
<section class="slide">
    <h2 class="shout">Итоги</h2>
    <figure>
        <img class="cover" src="pictures/slide-2.jpg">
    </figure>
</section>
<section class="slide">
    <h2>Итоги</h2>
    <ul>
        <li>Боритесь со сложностью</li>
        <li>Анализируйте процесса разработки</li>
        <li>Пишите программы в первую очередь для людей</li>
        <li>Программируйте с использованием языка, а не на языке</li>
        <li>Концентрируйте внимание с помощью соглашений / конвенций</li>
        <li>Программируйте в терминах проблемной области</li>
    </ul>
</section>
<!------------------------------------------------>
