<style>
    .shower {
        --slide-ratio: calc(16 / 9);
    }

    #cover {
        /*background-color: #801517;*/
    }

    .slide {
        font-size: 20px;
        padding: 10px 50px;
        &:after {
            background: rgb(230, 0, 35);
            width: 50px;
            height: 50px;
            padding: 0;
            left: initial;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h2 {
            font: 800 30px/100% Roboto;
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                background-color: rgb(230, 0, 35);
                width: 100%;
                height: 3px;
            }
        }
    }

    .progress {
        &:before {
            background-color: rgb(230, 0, 35);
        }
    }

    .chapter-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;

    }

    .chapter-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
        opacity: .5;
        filter: blur(2px);
    }

    .chapter-title {
        position: relative;
        border: 10px solid rgb(230, 0, 35);
        color: black;
        font: 800 50px/100% Roboto;
        padding: 60px;
        text-align: center;
        z-index: 2;
    }

    .code {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-height: 100%;
        img {

            max-width: 100%;
            height: auto;
            max-height: 500px;
        }
    }



</style>
