<section class="slide chapter-wrapper">
    <div class="chapter-title">Переменные</div>
</section>
<section class="slide">
    <h2>Общие принципы использования переменных</h2>
    <ul>
        Интервал использования переменной
        Время жизни переменной
        Окно уязвимости
    </ul>
</section>
<section class="slide">
    <h2>
        Единственность цели каждой переменной
    </h2>
    <ul>
        <li>Используйте каждую переменную только с одной целью</li>
        <li>Избегайте переменных имеющих скрытый смысл</li>
        <li>Не оставлять не используемые переменные</li>
    </ul>
</section>

<section class="slide">
    <h2>Сила имен переменных</h2>
    <ul>
        <li>Название переменной должно ориентироваться на проблему</li>
        <li>Оптимальная длина имени переменной - 10-16 символов</li>
    </ul>
    <div>
        Спецификаторы вычисляемых значений
    </div>
    <div>
        Антонимы
    </div>
    <div>Зачем нужны конвенции
    </div>
    <ul>
        <li>Они позволяют больше принимать как данное</li>
        <li>Они помогают использовать знания полученные при работе над прошлыми проектами</li>
        <li>Они ускоряют изучение кода нового проекта</li>
        <li>Подавляют размножение похожих имен (totalRecords и recordsTotal)</li>
        <li>Они могут компенсировать слабости языка (можно имитировать функционал который язык не поддерживает)</li>
        <li>Они поддерживают связи между данными (recordId и recordName)</li>
    </ul>
</section>
<section class="slide">
    <h2>Сокращение имен переменных
    </h2>
    <ul>
        <li>Используйте стандартные аббревиатуры</li>
        <li>Удаляйте все гласные, не являющиеся первыми буквами имен</li>
        <li>Удаляйте артикли и союзы (and, or, the)</li>
        <li>Обрезайте слова согласованно: после первой, второй или третьей буквы</li>
        <li>Сохраняйте первую и последнюю букву каждого слова</li>
        <li>Сохраняйте до 3 выразительных слов</li>
        <li>Удаляйте бесполезные суффикс (-ing, -ed)??????</li>
        <li>Сохраняйте наиболее выразительные звук каждого слова</li>
        <li>Проверяйте что бы в ходе сокращения смысл имени переменной не искажался</li>
        <li>Не сокращайте слова только на один символ</li>
        <li>Сокращайте имена согласованно</li>
        <li>Сокращайте имена так что бы их можно было произнести</li>
        <li>Избегайте комбинаций допускающих неверное прочтение</li>
        <li>Используйте словарь для разрешения конфликтных имен и поиска синонимов</li>
    </ul>
</section>
