<section class="slide chapter-wrapper">
    <div class="chapter-title">Переменные</div>
</section>

<section class="slide">
    <h2>Интервал использования переменной </h2>
    <div class="code">
        <img src="./pictures/var-interval-use.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Время жизни переменной </h2>
    <div class="code">
        <img src="./pictures/var-life-time.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Окно уязвимости </h2>
    <div class="code">
        <img src="./pictures/var-window.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Единственность цели каждой переменной</h2>

    <ul>
        <li>Используйте каждую переменную только с одной целью</li>
        <li>Избегайте переменных имеющих скрытый смысл</li>
        <li>Не оставлять не используемые переменные</li>
    </ul>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Сила имен переменных</div>
</section>

<section class="slide">
    <h2>Имена переменных</h2>
    <ul>
        <li class="next">Название переменной должно ориентироваться на проблему</li>
        <li class="next">Оптимальная длина имени переменной - 10-16 символов</li>
    </ul>
    <div class="columns two">
        <div>
            Спецификаторы вычисляемых значений
            <ul>
                <li>total</li>
                <li>sum</li>
                <li>average</li>
                <li>record</li>
                <li>string</li>
            </ul>
        </div>
        <div>
            Антонимы
            <ul>
                <li>first/last</li>
                <li>locked/unlocked</li>
                <li>min/max</li>
                <li>next/previous</li>
                <li>old/new</li>
                <li>opened/closed</li>
                <li>source/target</li>
                <li>up/down</li>
            </ul>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Сокращение имен переменных</h2>
    <div class="columns two">
        <ul>
            <li class="next">Используйте стандартные аббревиатуры</li>
            <li class="next">Удаляйте все гласные, не являющиеся первыми буквами имен</li>
            <li class="next">Удаляйте артикли и союзы (and, or, the)</li>
            <li class="next">Обрезайте слова согласованно: после первой, второй или третьей буквы</li>
            <li class="next">Сохраняйте первую и последнюю букву каждого слова</li>
            <li class="next">Сохраняйте до 3 выразительных слов</li>
            <li class="next">Сохраняйте наиболее выразительные звук каждого слова</li>
        </ul>
        <ul>
            <li class="next">Проверяйте что бы в ходе сокращения смысл имени переменной не искажался</li>
            <li class="next">Не сокращайте слова только на один символ</li>
            <li class="next">Сокращайте имена согласованно</li>
            <li class="next">Сокращайте имена так что бы их можно было произнести</li>
            <li class="next">Избегайте комбинаций допускающих неверное прочтение</li>
            <li class="next">Используйте словарь для разрешения конфликтных имен и поиска синонимов</li>
        </ul>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Конвенции именования</div>
</section>

<section class="slide">
    <h2>Зачем нужны конвенции</h2>
    <ul>
        <li class="next">Они позволяют больше принимать как данное</li>
        <li class="next">Они помогают использовать знания полученные при работе над прошлыми проектами</li>
        <li class="next">Они ускоряют изучение кода нового проекта</li>
        <li class="next">Подавляют размножение похожих имен (totalRecords и recordsTotal)</li>
        <li class="next">Они могут компенсировать слабости языка (можно имитировать функционал который язык не поддерживает)</li>
        <li class="next">Они поддерживают связи между данными (recordId и recordName)</li>
    </ul>
</section>

