<section class="slide chapter-wrapper">
    <div class="chapter-title">Переменные</div>
</section>

<section class="slide">
    <h2>Интервал использования переменной </h2>
    <div class="code">
        <img src="./pictures/var-interval-use.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Время жизни переменной </h2>
    <div class="code">
        <img src="./pictures/var-life-time.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Окно уязвимости </h2>
    <div class="code">
        <img src="./pictures/var-window.svg" alt="">
    </div>
</section>

<section class="slide">
    <h2>Единственность цели каждой переменной</h2>

    <div>
        <div>Используйте каждую переменную только с одной целью</div>
        <div>Избегайте переменных имеющих скрытый смысл</div>
        <div>Не оставлять не используемые переменные</div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Сила имен переменных</div>
</section>

<section class="slide">
    <h2>Имена переменных</h2>
    <div>
        <div>Название переменной должно ориентироваться на проблему</div>
        <div>Оптимальная длина имени переменной - 10-16 символов</div>
    </div>
    <div class="columns two">
        <div>
            Спецификаторы вычисляемых значений
            <div>
                <div>total</div>
                <div>sum</div>
                <div>average</div>
                <div>record</div>
                <div>string</div>
            </div>
        </div>
        <div>
            Антонимы
            <div>
                <div>first/last</div>
                <div>locked/unlocked</div>
                <div>min/max</div>
                <div>next/previous</div>
                <div>old/new</div>
                <div>opened/closed</div>
                <div>source/target</div>
                <div>up/down</div>
            </div>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Сокращение имен переменных</h2>
    <div class="columns two">
        <div>
            <div>Используйте стандартные аббревиатуры</div>
            <div>Удаляйте все гласные, не являющиеся первыми буквами имен</div>
            <div>Удаляйте артикли и союзы (and, or, the)</div>
            <div>Обрезайте слова согласованно: после первой, второй или третьей буквы</div>
            <div>Сохраняйте первую и последнюю букву каждого слова</div>
            <div>Сохраняйте до 3 выразительных слов</div>
            <div>Сохраняйте наиболее выразительные звук каждого слова</div>
        </div>
        <div>
            <div>Проверяйте что бы в ходе сокращения смысл имени переменной не искажался</div>
            <div>Не сокращайте слова только на один символ</div>
            <div>Сокращайте имена согласованно</div>
            <div>Сокращайте имена так что бы их можно было произнести</div>
            <div>Избегайте комбинаций допускающих неверное прочтение</div>
            <div>Используйте словарь для разрешения конфликтных имен и поиска синонимов</div>
        </div>
    </div>
</section>

<section class="slide chapter-wrapper">
    <div class="chapter-title">Конвенции именования</div>
</section>

<section class="slide">
    <h2>Зачем нужны конвенции</h2>
    <div>
        <div>Они позволяют больше принимать как данное</div>
        <div>Они помогают использовать знания полученные при работе над прошлыми проектами</div>
        <div>Они ускоряют изучение кода нового проекта</div>
        <div>Подавляют размножение похожих имен (totalRecords и recordsTotal)</div>
        <div>Они могут компенсировать слабости языка (можно имитировать функционал который язык не поддерживает)</div>
        <div>Они поддерживают связи между данными (recordId и recordName)</div>
    </div>
</section>

